@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./assets/Fonts/style.css);

:root {
  --primary: #6837EF;
}

body {
  margin: 0;
  font-family: 'Gelion Regular',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width:4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::selection {
  background-color: #6837EF;
  color: white;
}

.search_background{
  background-color: #FAFAFC;
}


.hoc_padding{
  padding-right:2rem;
  padding-left:2rem
}


@media only screen and (max-width:640px) {
  .hoc_padding {
      padding-right:0.5rem;
      padding-left:0.5rem
  }
}

@media only screen and (max-width:768px) {
  .hoc_padding {
      padding-right:1rem;
      padding-left:1rem
  }
}